<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colortherapies"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/splash">
        <activity
            android:name="com.colortherapies.MainActivity"
            android:label="@string/app_name" >
           
        </activity>
        <activity
            android:name="com.colortherapies.SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.colortherapies.WelcomePremium"
            android:label="@string/thank_you">

        </activity>
        <activity
            android:name="com.colortherapies.Dashboard"
            android:label="@string/string_dashboard_header" >
             
        </activity>
        <activity
            android:name="com.colortherapies.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.colortherapies.Registration"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name="com.colortherapies.Test"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.colortherapies.ThankYou"
            android:label="@string/thank_you"
            >

        </activity>
    </application>

</manifest>